# Backend
backend/node_modules/
backend/.env
backend/absensi.db
backend/absensi.db-journal
backend/absensi.db-wal
backend/uploads/

# Android
android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/local.properties
android-app/*.iml
android-app/.idea/
